/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.cdnfonts.com/css/amazon-ember');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css');
*{
    font-family: 'Amazon Ember', sans-serif;
    margin: 0;
    padding: 0;
}